[Desktop Entry]
Name=Connect OpenFortiVPN
Exec=%h/.scripts/openfortivpn-manager.sh start
Terminal=false
Type=Application
Icon=network-vpn
Categories=Network;VPN;
