[Desktop Entry]
Name=Disconnect OpenFortiVPN
Exec=$HOME/.scripts/openfortivpn_manage.sh stop
Terminal=false
Type=Application
Icon=network-vpn
Categories=Network;VPN;

