[Desktop Entry]
Name=Connect OpenFortiVPN
Exec=$HOME/.scripts/openfortivpn_manage.sh start
Terminal=false
Type=Application
Icon=network-vpn
Categories=Network;VPN;
